---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import AboutPage from '../content/pages/about.md';
import BlogIntro from '../components/BlogIntro.astro';
---

<html lang="en">
  <head>
    <BaseHead title="About" description="About Product Led Journey" />

    <style>
      main {
        width: 90%;
	max-width: none;
        margin: 0 auto;
        padding: 2rem;
      }

      main :global(img:first-of-type) {
        width: 420px;
        max-width: 100%;
        height: auto;
        float: left;
        margin: 0 3rem 2rem 0;
      }

      main :global(p) {
        font-size: 1.25rem;
        line-height: 1.8;
      }

      @media (max-width: 10px) {
        main :global(img:first-of-type) {
          float: none;
          display: block;
          margin: 0 auto 2rem auto;
          width: 320px;
        }
      }
    </style>
  </head>

  <body>
    <Header />

    <main>
      <BlogIntro />
      <AboutPage />
    </main>

    <Footer />
  </body>
</html>
